{% extends 'base.html' %} {% block head %}

<link rel="stylesheet" href="static/css/homepage.css" />
{% endblock %} {% block body %}
<div class="header" id="home">
  <h1 class="header-content">
    One Page promising to <br />fill all your needs!
  </h1>
  <h6 class="header-subcontent">
    This is Photoshop's version of Lorem Ipsum.Proin<br />
    gravida nibh vel velit auctor aliquet
  </h6>
  <div class="header-button">
    <button type="button" class="btn button mr-2 text-white">Learn more</button>
    <button type="button" class="btn button text-white">Learn more</button>
  </div>
</div>

{% endblock %}
